<%= partial 'partials/link', locals: { css_class: 'btn$modifier_class', text: 'Link button' } %>
<button class="btn$modifier_class">Button</button>
<input type="submit" class="btn$modifier_class" value="Submit button" />
